.column {
    display: flex;
    height: 100%;
    color: white;
    background-color: #454d55;
}

.columnRed {
    display: flex;
    height: 100%;
    color: white;
    background-color: #e7899a;
}

.left {
    width: 250px;
}

.right {
    flex-grow: 1;
}

.box {
    display: flex;
    flex-flow: column;
}

.box .content {
    height: 100%;
}

.container {
    padding: 5px;
    height: 100%;
}

