# Operating System Files
*.DS_Store
Thumbs.db

# Build Files #
bin
target
../build/
../.gradle
.mvn
.turbo

# Eclipse Project Files #
.classpath
.project
.settings
.attach_pid*

# IntelliJ IDEA Files #
*.iml
*.ipr
*.iws
*.idea

# VSCode Files #
.vscode/

# Spring Bootstrap artifacts
dependency-reduced-pom.xml
out
README.html

# Ide directories
.idea

# Build directories
mvn
../build
target
../gradle

# Dependency directories
node_modules/
jspm_packages/
