@import "~@ms7/ui/dist/index.css";

h1, h2, h3, h4, h5, pre, span, div, hr {
    color: var(--text-default);
}

input, label {
    color: var(--text-secondary) !important;
}

html {
    display: flex;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    flex: 1;
}

#root {
    height: 100%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40px {
    width: 40px;
}

.breadcrumb {
    margin-bottom: 0 !important;
}

.container-sidebar {
    width: 250px;
    min-width: 250px;
}