h1, h2, h3, h4, h5, pre, span, hr {
    color: #d1d1d1;
}

html {
    display: flex;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    flex: 1;
}

#root {
    height: 100%;
}

.w-30 {
    width: 30%;
}

.w-35 {
    width: 35%;
}

.w-40px {
    width: 40px;
}

a {
    color: #1098ad;
    text-decoration: none;
}

.breadcrumb {
    margin-bottom: 0 !important;
}
