.card {
    color: #ffffff;
    background-color: #343a40 !important;
    border: 0 !important;
    margin: auto;
    height: 450px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 20px 20px;
    min-width: 430px;
}
