# optional [none, trace, debug, info, warn, error]
REACT_APP_LOG_LEVEL=trace

REACT_APP_NAME=app
REACT_APP_HOMEPAGE_NAME=dashboard

REACT_APP_KEYCLOAK_URL=http://127.0.0.1:8080/auth
REACT_APP_KEYCLOAK_REALM=realm
REACT_APP_KEYCLOAK_CLIENTID=clientid

REACT_APP_FIREBASE_API_KEY=key
REACT_APP_FIREBASE_AUTH_DOMAIN=domain
REACT_APP_FIREBASE_PROJECT_ID=id
REACT_APP_FIREBASE_STORAGE_BUCKET=storage-bucket
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=sender-id
REACT_APP_FIREBASE_APP_ID=app-id

# optional module configuration